@page
@model SistemaGestionDeCitas.Pages.Account.ConfirmEmailModel
@{
    Layout = "_LoginLayout";
}


<div class="container vh-100 d-flex justify-content-center align-items-center">

    <div class="col-3 login">
        <div class="d-flex justify-content-center">
            <p>
                <h1>
                    Confirm Email
                </h1>
            </p>
        </div>
        <form method="post">
            <div class="mb-3">
                <div class="form-floating m-1">
                    <input type="email" id="email" class="form-control" asp-for="confirmEmailDto.Email" placeholder="Email" />
                    <label class="form-label" for="email">Email</label>
                </div>

               
                <div class="mb-1" style="display:flex; justify-content:center;">
                    <button type="submit" class="btn btn-primary col-8 m-2 p-1"> Confirm</button>

                </div>
                <div class="mb-1 d-flex justify-content-center align-content-center align-items-center">
                    <a class="btn btn-outline-secondary btn-sm"  href="/">
                        Maybe Later
                    </a>
                    
                    
                </div>

            </div>
        </form>
    </div>


</div>
